@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
:root {
  --color-primary: #389ce5;
  --color-text: #333333;
  --color-background: #f8f8f8;
  --color-accent: #ffc107;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--color-text);
  background-color: var(--color-background);
}

/* You can add your global styles here */
.shadow-on-scroll {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  opacity: 1;
}
