---
import { Icon } from 'astro-icon/components';
interface Props {
  title: string;
  content: { title: string; href: string; description: string }[];
}

const { title, content } = Astro.props;
---

<div class="group relative hidden lg:block h-full">
  <button class="text-[var(--color-text)] hover:text-[var(--color-primary)] px-3 py-2 rounded-md text-sm font-medium focus:outline-none h-full flex items-center">
    <span>{title}</span>
    <Icon name="heroicons:chevron-down" class="w-5 h-5 ml-1 transition-transform duration-300 ease-in-out group-hover:hidden" />
    <Icon name="heroicons:chevron-up" class="w-5 h-5 ml-1 transition-transform duration-300 ease-in-out hidden group-hover:block" />
  </button>
  <div class="fixed left-0 right-0 top-16 bg-[var(--color-background)] shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 ease-in-out z-50">
    <div class="container mx-auto px-6 py-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          content.map((item) => (
            <a href={item.href} class="block p-4 hover:bg-[var(--color-background-hover)] rounded-lg transition-colors duration-200">
              <p class="font-bold text-[var(--color-text)]">{item.title}</p>
              <p class="text-sm text-[var(--color-text)] opacity-90 mt-1">{item.description}</p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
