---
import '../styles/global.css';
import '@splidejs/splide/css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const { title } = Astro.props;

// export function getStaticPaths() {
//   return [{ params: { locale: 'en' } }, { params: { locale: 'id' } }];
// }

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Tsurayya Engineering",
        "url": "https://www.tsurayya.com",
        "logo": "https://www.tsurayya.com/Logo.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-555-555-5555",
          "contactType": "customer service"
        }
      }
    </script>
  </head>
  <body class="font-sans antialiased text-[var(--color-text)] bg-dark">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
